
/* @font-face {
  font-family: 'SansForgetica';
  src: url([[font:theme|SansForgetica-Regular.otf ]]);
  font-weight: normal;
  font-style: normal;
} */

.backdrop {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;

}


.back-text{
  text-align: center;
  position: fixed;
  z-index: 8;
  width: 100%;
  /* margin-left: 20%; */
  display: block;
  font-size: 80px;
  margin-top: 5%;
  color: #1185c5;
  text-shadow: 2px 2px 4px #fff;
  /* margin: 0 auto; */
}

.back-text-2{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 8;
  width: 60%;

  display: block;
  margin-top: 7%;
  margin-left: 23%;

}



.header-para-div{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 9;
  width: 100%;
  /* margin-left: 23%; */
  margin-top: 30%;
  font-size: 50px;
}

.header-para{
  margin: 0 auto;
}


/* sections */
.content {
    position: absolute;
    z-index: 10; /* Important! Must be higher than .backdrop's z-index. */
    width: 100%;
    /* border-top: 1px solid #E8E8E8; */
    top: 40rem; /* How much space to give the backdrop section */

}

.further{
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-fur{
  background-color: black;
  /* border: 1px solid white; */
}

.next{
  background-color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-next{
  background-color: white;
  /* border: 2px solid black; */
}

.different{
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 0;
  margin-bottom: 0;

}

.out-dif{
  background-color: grey;
  border: 1px solid darkgrey;
}

.contact{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.out-contact{
  background-color: black;
}

.contact-image{
  height:50%;
  width:55%;
  border-radius: 25px;
  margin-bottom: 3%;
  /* margin-top:1%; */


}

.contact-head{
  margin-bottom: 0;
}
/* end of sections */

.block{
  padding-top: 7%;
  padding-bottom: 7%;
  width: 50%;
  margin: 0 auto;
}


.p-bot{
  margin-bottom: 0;
}

.head{
  margin-bottom: 5%;
  text-shadow: 2px 2px 4px darkgrey;
  /* border: 1px solid white; */
  /* padding: 2px; */
  font-weight: bold;
}


.header-rest{
  /* display: block; */
  /* margin-left: 10%; */
  margin-top: 10%;
  color: white;
  text-shadow: 2px 2px 4px darkgrey;
}


#next-head{
  text-shadow: 2px 2px 4px grey;
  /* border: 1px solid black; */
  /* padding: 2px; */
  font-weight: bold;

}
