
@font-face {
  font-family: 'SansForgetica';
  /* src: url([[font:theme|SansForgetica-Regular.otf ]]); */
  src: url("../static/fonts/SansForgetica-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.logo-text{
  font-size: 30px;
  margin-left: 50%;
  /* width: 20%; */
  /* margin-left: 60%; */
  /* font-family: 'SansForgetica-Regular'; */
}
.small-opp{
  font-family: 'SansForgetica-Regular';
  color:#1185c5;
  font-size: 90px;
}

.small{
  display: inline-block;


}

.backdrop {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;

}

.logo-img{
  position: fixed;
  z-index: 8;
  width: 7%;
  height: 7%;
  text-align: left;
  margin:5%;
  float: right;
}

.logo-div{
  margin-left: 85%;
  z-index: 10;
}

.logo-text{
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 10%;
  text-align: left;
  font-weight:bold;
  margin-top: 4%;
  margin-left: 5%;
  color: white;

}

.header-text{
  font-family: 'SansForgetica-Regular';
}

.back-text{
  text-align: center;
  position: fixed;
  z-index: 8;
  width: 100%;
  /* margin-left: 20%; */
  display: block;
  font-size: 80px;
  margin-top: 5%;
  color: #1185c5;
  text-shadow: 4px 4px 5px #fff;
  /* font-family: 'SansForgetica-Regular'; */

  /* margin: 0 auto; */
}

.back-text-2{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 8;
  width: 60%;
  display: block;
  margin-top: 7%;
  margin-left: 23%;

}



.header-para-div{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 9;
  width: 100%;
  /* margin-left: 23%; */
  margin-top: 30%;
  font-size: 90px;
}

/* .header-para{
  margin: 0 auto;
} */


/* sections */
.content {
    position: absolute;
    z-index: 10; /* Important! Must be higher than .backdrop's z-index. */
    width: 100%;
    /* border-top: 1px solid #E8E8E8; */
    top: 40rem; /* How much space to give the backdrop section */

}

.further{
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-fur{
  background-color: black;
  /* border: 1px solid white; */
}

.next{
  background-color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-next{
  background-color: white;
  /* border: 2px solid black; */
}

.different{
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 0;
  margin-bottom: 0;

}

.out-dif{
  background-color: grey;
  border: 1px solid darkgrey;
}

.contact{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.out-contact{
  background-color: black;
}

.contact-image{
  height:50%;
  width:55%;
  border-radius: 25px;
  margin-bottom: 3%;
}

.contact-image:hover{
  box-shadow: 10px 10px 10px #1185c5;;
}
.contact-head{
  margin-bottom: 0;
}
/* end of sections */

.block{
  padding-top: 7%;
  padding-bottom: 7%;
  width: 50%;
  margin: 0 auto;
}


.p-bot{
  margin-bottom: 0;
}

p{
  font-size: 17px;
  font-family: "Bookman", Times, serif;
}

.head{
  margin-bottom: 5%;
  text-shadow: 2px 2px 4px darkgrey;

  font-weight: bold;
}


.header-rest{
  position: fixed;
  padding-top: 11%;
  width: 100%;
  color: white;
  /* text-align: center; */
  margin-left: auto;
  text-shadow: 2px 2px 4px darkgrey;
}


#next-head{
  text-shadow: 2px 2px 4px grey;

  font-weight: bold;

}

.link{
  text-align: center;
  height:3%;
  width: 3%;
  /* text-shadow: 2px 2px 4px #1185c5; */
}

.link:hover{
  box-shadow: 6px 6px 6px #1185c5;
}

.contact-p{
  font-size: 23px;
}
