
@font-face {
  font-family: 'SansForgetica';
  /* src: url([[font:theme|SansForgetica-Regular.otf ]]); */
  src: url("../static/fonts/SansForgetica-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family : 'AkrobatExtraBold';
  src : url("../static/fonts/Akrobat-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}


.logo-text-new{
  /* width: 100vw;
  height: 100vh; */
  text-align: center;
  position: fixed;
  z-index: 8;
  width: 70%;
  margin: 0 auto;
  margin-left: 10%;
  padding-top: 7%;
}
@media only screen and (max-width: 600px) {
  .logo-text-new{
    margin-top: 10%;

  }
}



.huge{
  color: white;
  font-size: 70%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  /* font-family: 'SansForgetica-Regular'; */
  font-family: 'AkrobatExtraBold','IsidoraSans-Regular', sans-serif;
  font-size: 5.313rem;
   letter-spacing: 7.5px;
   line-height: 95px;


}
@media only screen and (max-width: 900px) {
  .huge{
    margin-top: 10%;
    font-size: 50%;
    line-height: 40px;
    letter-spacing: 5px;

    }
}


.small-opp{
  font-family: 'SansForgetica-Regular';
  color:#1185c5;
  font-size: 90px;
}

.small{
  display: inline-block;


}

.backdrop {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;

}

.logo-img{
  position: fixed;
  z-index: 8;
  width: 7%;
  height: 7%;
  text-align: left;
  margin:5%;
  float: right;
}

.logo-div{
  margin-left: 85%;
  z-index: 10;
}

.logo-text{
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 10%;
  text-align: left;
  font-weight:bold;
  margin-top: 4%;
  margin-left: 5%;
  color: white;
  font-size: 30px;
  /* margin-left: 50%; */
}



.header-text{
  font-family: 'SansForgetica-Regular';
}

.back-text{
  text-align: center;
  position: fixed;
  z-index: 8;
  width: 100%;
  /* margin-left: 20%; */
  display: block;
  font-size: 80px;
  margin-top: 4%;
  color: #1185c5;
  text-shadow: 2px 2px 6px lightgrey;
  /* font-family: 'SansForgetica-Regular'; */

  /* margin: 0 auto; */
}

.back-text-2{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 8;
  width: 60%;
  display: block;
  margin-top: 7%;
  margin-left: 23%;

}



.header-para-div{
  text-align: center;
  color: white;
  position: fixed;
  z-index: 9;
  width: 100%;
  /* margin-left: 23%; */
  margin-top: 30%;
  font-size: 90px;
}

/* .header-para{
  margin: 0 auto;
} */


/* sections */
.content {
    position: absolute;
    z-index: 10; /* Important! Must be higher than .backdrop's z-index. */
    width: 100%;

    top: 55rem; /* How much space to give the backdrop section */

}

.further{
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-fur{
  background-color: black;
  /* border: 1px solid white; */
}

.next{
  background-color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.out-next{
  background-color: white;
  /* border: 2px solid black; */
}

.different{
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 0;
  margin-bottom: 0;

}

.out-dif{
  background-color: grey;
  border: 1px solid darkgrey;
}

.contact{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.out-contact{
  background-color: black;
}

.contact-image{
  height:50%;
  width:55%;
  border-radius: 25px;
  margin-bottom: 3%;
}

@media only screen and (max-width: 900px) {
  .contact-image{
    width: 100%;
    height: 40%;
    margin: 0 auto;

  }
}


.contact-image:hover{
  box-shadow: 10px 10px 10px #1185c5;;
}
.contact-head{
  margin-bottom: 0;
}

.contact-p{
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 20px;
}

#contact-name{
  font-size: 26px;
}
/* end of sections */

.block{
  padding-top: 7%;
  padding-bottom: 7%;
  width: 50%;
  margin: 0 auto;
}


.p-bot{
  margin-bottom: 0;
}

p{
  font-size: 17px;
  font-family: "Bookman", Times, serif;
}

.head{
  margin-bottom: 5%;
  text-shadow: 2px 2px 4px darkgrey;

  font-weight: bold;
}


.header-rest{
  position: fixed;
  padding-top: 11%;
  width: 100%;
  color: white;
  /* text-align: center; */
  margin-left: auto;
  text-shadow: 2px 2px 4px darkgrey;
}


#next-head{
  text-shadow: 2px 2px 4px grey;

  font-weight: bold;

}

.link{
  text-align: center;
  height:3%;
  width: 3%;
  /* text-shadow: 2px 2px 4px #1185c5; */
}
@media only screen and (max-width: 900px) {
  .link{
   height: 4%;
   width: 8%;
 }
}


.link:hover{
  box-shadow: 6px 6px 6px #1185c5;
}
