{% extends "base.html" %}


{% block content %}
<!-- <div class="container"> -->

  <div class="backdrop">
    <!-- <image src="/static/images/backdrop.jpg" alt="starry sky" height= 500 width=80% > -->
    <!-- </div>
    <div class=back-text"> -->
      <h1 class="header-text"> Oppor2nity is all around you.</h1>
      <h3 class="header-para"> Oppor2nity is an early-stage investment firm powering the ideas defining what the future can be.</h3>
   </div>

   <div class="content">

         <div class="further">
            <h2 class="heading-taking">TAKING YOU FURTHER</h2>
            <p class="further-p">We know that the path to success is neither straight nor smooth. We believe that extraordinary people can build extraordinary companies and achieve unprecedented outcomes.</p>
            <p class="further-p">We seek to partner with exceptional individuals who have the genuineness, insight, and perseverance to create meaningful, scalable impact for the betterment of others.</p>
            <p class="further-p">If that’s the future you’re passionate about creating, we are ready to invest in you.</p>
        </div>

        <div class="next">
          <h2 class="next"> ARE YOU NEXT? </h2>
          <p class="next-para"> We provide seed and Series A investments and support companies at every stage of their growth.</p>

          <p class="next-para">Whether it’s friends and family, seed, pre-seed (or mustard seed), angel, or more. Your idea may be small, but it's not too early.</p>

          <p class="next-para"> Oppor2nity is a US-based venture capital firm investing in seed, early, and mid-stage startups and successful companies. We provide
          deep investment experience in the areas of SAAS, fintech, technology-enabled marketplaces, consumer Internet, machine vision and learning, and AR/VR.
          We invest in high performing teams, building revolutionary technology, creating the next enterprise or consumer category. With a focus on strategic capitalization, business development support,
          and engineered exits, we provide great teams with the support they need to change the future. </p>

        </div>

        <div class="different">
          <h2 class="head-diff">WHAT MAKES US DIFFERENT</h2>
          <p class="diff-para"> We are strategic investors and have strong partnerships with major venture funds and high-value network in enterprise ventures.  Our team and core network have a unique combination of deep-domain knowledge in
            emerging tech, expertise in new product development, business growth, marketing and distribution, as well as OEM resources for high-tech manufacturing.

          <p class="diff-para">We leverage a strong network of trusted experts in the entrepreneurial communities in Silicon Valley, San Francisco, New York, Boston, Austin, Australia and China.
            We help daring innovators and entrepreneurs change the world for the better.</p>
        </div>


          <div class="contact">

          </div>



<!-- closing tag for content div -->
     </div>

     <!-- closing tag for container div -->
<!-- </div> -->

{% endblock %}
